<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>ENACdrives Admin packages and installers</title>
</head>
<body>
    <h1>ENACdrives - Admin the packages and installers</h1>
    <h2>Current installers</h2>
    {% for os in oss %}
    <h3>{{ os }}</h3>
    <table>
        <tr>
            <th>Uploaded by</th>
            <th>Upload date</th>
            <th>OS</th>
            <th>Filename</th>
            <th>Release number</th>
            <th>enabled</th>
        </tr>
        {% for inst in installers|get_item:os %}
        <tr>
            <td>{{inst.upload_username}}</td>
            <td>{{inst.upload_date}}</td>
            <td>{{inst.get_os_display}}</td>
            <td>{{inst.file_name}}</td>
            <td>{{inst.release_number}}</td>
            <td>{{inst.enabled}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <h2>Upload a new installer</h2>
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">File :</label><input id="file" type="file" name="file" />
        <input type="submit" value="Submit">
    </form>
</body>
</html>
