.vscode
*.sqlite
*.sqlite3
*.pyc
venv3/
activate
dependencies/
build/
dist/
WIP.md
ad_credentials.json
enacdrives_linux
deb_building/
debmake/
*.exe
*.dmg
*.deb
*.credentials
.vagrant/
Vagrant/etc/ssh/
secrets.sh
settings_enacit1sbtest4.py
settings_enacit1vm1.py
