old/v2011/web_app/mount_filers/db/mount_filers_db_dev.sqlite
old/v2011/web_app/mount_filers/epfl_settings_test.py
old/v2011/web_app/mount_filers/epfl_settings_prod.py
*.pyc
venv_py3/
activate
dependencies/
build/
dist/
WIP.md
web_app/EnacDrives/db.sqlite3
