include MANIFEST.in
include LICENSE
include meta/enacdrives.desktop
include pixmaps/bookmark_off.png
include pixmaps/bookmark_on.png
include pixmaps/critical_48.png
include pixmaps/enacdrives.icns
include pixmaps/enacdrives.ico
include pixmaps/enacdrives.png
include pixmaps/info_48.png
include pixmaps/mounted.png
include pixmaps/msg_48.png
include pixmaps/umounted.png
include pixmaps/warning_48.png
include pixmaps/warning.png
