Package: enacdrives
Version: 1.2.1-1
Architecture: all
Maintainer: Samuel Bancal <Samuel.Bancal@epfl.ch>
Installed-Size: 689
Depends: libc6 (>= 2.15), cifs-utils, gvfs-bin, python3-pyqt5
Section: misc
Priority: optional
Multi-Arch: foreign
Homepage: https://enacit.epfl.ch/enacdrives/
Description: EPFL, ENAC and units NAS directory
 An application that let the user know which NAS he has access to and
 mount/umount them. It can be used with the graphical interface
 (Linux/Windows/MacOSX) and the command line (Linux only).
