decorator==4.0.11
Django==2.2.27
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.10.2
mod-wsgi==4.9.3
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pyasn1==0.1.9
Pygments==2.7.4
PyMySQL==0.6.6
pysmb==1.1.19
python3-ldap==0.9.8.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
